# Ignore node modules and logs
node_modules/
*.log

# Ignore git repository
.git

# Ignore environment files
.env

# Ignore audio samples
audio_sample/

# Ignore model and transformer cache
cache/

# Ignore all output files
output/
summary_output/
temp/
