fastapi
uvicorn
# triton==2.0.0
openai-whisper
torch
pyannote.audio
langchain
langchain-community
langchain-openai
markdown-pdf
python-multipart
python-dotenv
ffmpeg
httpx[http2] 
nest_asyncio
pydantic
aiohttp